<body>
	<header>
<h1>The High Five Project </h1>
	<ul class="header">
		<li class ="header"><a href="/">About the Movement</a></li> 
		<li class ="header" ><a href="/history">History of the High Five</a></li> 
		<li class="header"><a href="/pictures">Pictures of the Movement</a></li>
	</ul>
	</header>
<h2 class="about">	<a style="color:red" href="/stories/new">Share Your Story</a></h2></br>
<% @stories.each do |story| %>	
<p class="about"><%= story.name %> : <%= story.location %></p>
<p class="about"><%= story.story %></p>
<p class="about"><%= story.created_at %></p> </br>
<%end%>

</body>