<body>
	<header>
<h1>The High Five Project </h1>
	<ul class="header">
		<li class ="header"><a href="/">About the Movement</a></li> 
		<li class ="header" ><a href="/stories">Stories of the Movement</a></li> 
		<li class="header"><a href="/pictures">Pictures of the Movement</a></li>		
		<li class="header"><a href="/stories/new">Share Your Story</a></li>		
	</ul>
	</header>
</body>

<h2 class="about">History of the high five</h2>
<p class="about">It is believed that the first high five occurred on the last day of the mlb regular season, Oct. 2, 1977, at Dodger stadium between Dusty Baker and Glenn Burke.  Baker hit a home run off astros' pitcher J.R. Richard.  Burke was on deck and put his hand over his head as Baker was approaching the plate.  Baker didn't know what to do, so he reached up and hit his hand!</p>
</br><p class = "about">The high five gained popularity during the 1978-79 University of Louisville basketball season.  One day at practice Wiley Brown went to give a low five to teammate Derek Smith.  Smith looked at him and said, "No. Up high.  Why are you staying down low? We jump so high."  High fives can be seen in highlights of the team. During a game, announcer Al McGuire proclaimed, "Mr. Brown came to play! And they're giving him the high-five handshake. High Five!"</p>
</br><p class="about">Since its humble beginning, the high five has become engrained in our culture.  Seen over and over in times of celebration and joy, most publicly at sporting events. In 2002, College students at the University of Virginia brought the high five to a new level, creating National high five day.</p></br>

<p class ="about">National High Five day now occurs every third thursday in April.</p> 
</br>
<h2 class="about">Clickable Links</h2>
 <p class="about"><a class ="about" href="http://en.wikipedia.org/wiki/High_five" target="_blank">High Five - Wikipedia Article</a></p>
 <p class="about"><a class ="about" href="http://espn.go.com/espn/story/_/id/6813042/who-invented-high-five" target="_blank">Who Invented the High Five? - Jon Mooallen - ESPN The Magazine</a></p>
 <p class="about"><a class="about" href="http://www.ihighfive.com/" target="_blank">Internet High Five</a></p>

	    