<header>
	<h1><a href="/">The High Five Project</a></h1>
		<ul class="header">
			<li class="header"><a href="/">About</a></li>
			<li class="header"><a href="/stories">Stories</a></li> 
			<li class="header"><a href="/photos">Pictures</a></li>
			<li class="header"><a href="/history-of-the-high-five">History of the High Five</a></li> 
			<li class="header"><a href="/stories/new">Share Stories</a></li>
			<li class="header"><a href="/photos/new">Share Photos</a></li>
		</ul>
		
</header>

<h2 class="about">What is the High Five Project</h2>
<p class ="about">The high five project is about spreading the high five.</br>100% of studies show that we love giving and receiving high fives.</br>However, not enough high fives our given.</br>This site is dedicated to changing this.</p>

<h2 class ="about">What is a High Five?</h2>
<p class ="about">Seriously!?!?</br>
<a class="about" href="http://www.google.com/search?q=high+five" target ="_blank">Click for Google Search</a></br>
<a class ="about" href="https://www.google.com/imghp?q=high+five" target ="_blank">click for Google Image Search</a></br></p>

<h2 class ="about"> HOW TO JOIN THE MOVEMENT </h2>
		<ul class ="about">
			<li class="about">1. Clean your hands</li>
			<li class="about">2. Find Area of people</li>
			<li class="about">3. Make eye contact and smile at one of such people</li>
			<li class="about">4. Initiate high five by extending one arm up 
			<li class="about">5. Let other person hand hit your hand </li>
			<li class="about">6. Tell other person to "pass it on"</li>
			<li class="about">7. Absorb feeling of awesomeness</li>
			<li class="about">8. Come to this site and share your best stories and pictures</li>
			<li class="about">9. Repeat Process with entire world</li>
			<li class="about">* Variations of the high five including the pound also acceptable</li>
		</ul>
		
<h2 class="about">Get Started Now</h2>
<p class = "about"><a class="about" href="http://www.ihighfive.com/" target="_blank">Click for an Internet High Five</a></p>
</body>