<body>
	<header>
<h1>The High Five Project</h1>
	<ul class="header">
		<li class ="header" ><a href="/history">History of the High Five</a></li> 
		<li class ="header"><a href="/stories">Stories of the Movement</a></li> 
		<li class="header"><a href="/pictures">Pictures of the Movement</a></li>
	</ul>
	</header>

<h2 class="about">ABOUT THE MOVEMENT</h2>
<p class ="about">This movement is about spreading the high five.</br>100% of studies show that humans love giving and receiving high fives.</br>However, not enough high fives our given.</br>We decided to change this.</p>
</br>

<h2 class ="about"> HOW TO JOIN THE MOVEMENT </h2>
		<ol class ="about">
			<li class="about">1. Clean your hands</li>
			<li class="about">2. Find Area of people</li>
			<li class="about">3. Make eye contact and smile at one of such people</li>
			<li class="about">4. Initiate high five by extending one arm up</li>
			<li class="about">5. Let other person hand hit your hand</li>
			<li class="about">6. Tell other person to "pass it on"</li>
			<li class="about">7. Absorb feeling of awesomeness</li>
			<li class="about">8. Share your best stories and pictures</li>
			<li class="about">9. Repeat Process with entire world</li>
		</ol>
</body>