%h2
	What is the High Five Project

%p
	The high five project is about spreading the high five.</br>100% of studies show that we love giving and receiving high fives.
	%br
	However, not enough high fives are given.
	%br
	This site is dedicated to changing this.

%h2
	What is a High Five?
%p
	Seriously!?!?
	%br
	= link_to "Click for Google Search", "http://www.google.com/search?q=high+five"
	%br
	= link_to "Click for Google Image Search", "https://www.google.com/imghp?q=high+five"

%h2
	HOW TO JOIN THE MOVEMENT 
%ul
	%li
		1. Clean your hands
	%li
		2. Find Area of people
	%li
		3. Make eye contact and smile at one of such people
	%li
		4. Initiate high five by extending one arm up 
	%li
		5. Let other person hand hit your hand 
	%li
		6. Tell other person to "pass it on"
	%li
		7. Absorb feeling of awesomeness
	%li
		8. Come to this site and share your best stories and pictures</li>
	%li
		9. Repeat Process with entire world</li>
	%li
		* Variations of the high five including the pound also acceptable
		
%h2
	Get Started Now
%p
	= link_to "Click for an Internet High Five", "http://www.ihighfive.com/" 