<body>
	<header>
<h1>The High Five Project </h1>
	<ul class="header">
		<li class ="header"><a href="/">About the Movement</a></li> 
		<li class ="header" ><a href="/history">History of the High Five</a></li> 
		<li class="header"><a href="/stories">Stories of the Movement</a></li>		
	</ul>
	</header>
</body>
