 <footer class="footer">
  <small style="text-align:center">
    <a href="http://twitter.com/dkaplan88" target="_blank">Site Created and Designed by Dan Kaplan</a>
	<div><a href="mailto:daniel.scott.kaplan@gmail.com">daniel.scott.kaplan@gmail.com</a>
	</small>
</footer>