<header>
	<h1><a href="/">The High Five Project</a></h1>
		<ul class="header">
			<li class="header"><a href="/">About</a></li>
			<li class="header"><a href="/stories">Stories</a></li> 
			<li class="header"><a href="/photos">Pictures</a></li>
			<li class="header"><a href="/history-of-the-high-five">History of the High Five</a></li> 
			<li class="header"><a href="/stories/new">Share Stories</a></li>
			<li class="header"><a href="/photos/new">Share Photos</a></li>
		</ul>
		
</header>